
.imagen{
    width: 50 px;
}

.titulo{
    text-align: center;
    font-size: 50px;
    color:blue
    margin-bottom: 120px;
}

.centrar{
    text-align: center;
}

.padre{
    display: flex;
}

.nav{
    background: #1afaf;
    position: relative;

}
